.movie-details-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:  3rem;
    height: 82vh;
}
.movie-card {
    flex-basis: 40%;
}

.movie-details {
    flex-basis: 50%;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.movie-details > div {
    color: var(--input-text-color);
}
.genre {
    border: 1px solid black;
    background-color: brown;
    border-radius: 15px;
    padding: 10px 20px;
    margin-left: 15px;
}